.center {
  text-align: center;
}

.marge_auto {
  margin: auto;
}

main {
  background-color: #eeeeee;
  font-family: sans-serif;
}

h1 {
  padding-top: 40px;
}

h2 {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding: 20px;
}