.center {
  text-align: center;
}

.marge_auto {
  margin: auto;
}

main {
  background-color: #eeeeee;
  font-family: sans-serif;
}

h1 {
  padding-top: 40px;
}

h2 {
  padding: 10px;
}

h3 {
  padding-top: 25px;
}

#img-div {
  background-color: white;
  width: 95%;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding: 20px;
}

ul {
  max-width: 60%;
  text-align: justify;
}